body{
font-family: 'Voces', sans-serif;
color: #fdf6f6;
background: radial-gradient(circle at 10% 20%, rgba(91, 173, 254, 0.46) 0%, rgba(91, 224, 254, 0.46) 47.2%, rgba(170, 254, 235, 0.43) 90%);

}
.Dictionary h2{
font-size: 18px;
font-weight: bold;
margin-bottom: 10px;
color: #0881a3;
}

h3{
    color: #0881a3;
}

.Dictionary {
    color:#2e2b2b;
}

.Dictionary section{
    background-color: #fffdfb;
    padding:30px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
    margin: 20px 0;    

}

.Dictionary input{
    width: 100%;
    padding: 5px 3px;
    border: 1px solid #0881a3;
    border-radius: 5px;

}

.Dictionary .hint{
    font-size: 12px;
    margin-top: 5px;
}